* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include full-width;
    font-weight: 400;
    font-family: $primary-font;
}

a ,li{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}
h1{
    color: $color-black;
    font-size: 111px;
}
.row{
    @include full-width;
    margin: 0;
}
a:hover{
    text-decoration: auto;
    color: unset;
}
img{
    @include full-width;
}
video{
    width: 100%;
    height: auto;
}