* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-weight: 400;
    font-family: $primary-font;
}

a ,li{
    text-decoration: none;
    list-style-type: none;
    list-style: none;

}
h1{
    color: black;
    font-size: 111px;
}
.row{
    width: 100%;
    margin: 0;
}
a:hover{
    color: $color-green;
}
img{
    width: 100%;
}