.toplinear-bg {
    background-image: linear-gradient($color-light-green, $color-wheat);
}

.bottomlinear-bg {
    background-image: linear-gradient($color-darkgreen, $color-lightwheat);
}
.scroll{
    position: fixed;
    @include full-width;
    z-index: 1;
}
.modal-closebtn{
    font-size: 2.5rem;
    font-weight: 600;
}
.overlay-container{
      background-color: #212529;
      position: absolute;
      top: 0;
      opacity: 0.6;
      height: 100%;
      width: 100%;
      -webkit-clip-path: ellipse(135% 100% at 50% -10%);
      clip-path: ellipse(135% 100% at 50% -10%);
      min-height: auto;
      overflow: hidden;
      transform: translateX(-50%);
      margin-left: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;

    @include media-breakpoint-up(md) {
      clip-path: ellipse(100% 100% at 50% -10%);
    }
}