.toplinear-bg {
    background-image: linear-gradient(#ecfeff, #ecfaff);
}

.bottomlinear-bg {
    background-image: linear-gradient(#8fd6c6, #e0fff8);
}
.scroll{
   
    position: fixed;
    width: 100%;
    z-index: 1;
}